
<!--The content below is only a placeholder and can be replaced.-->
<meta charset="UTF-8">
https://angular.io/guide/quickstart
<div>
  <ul>
    <li>
      1) npm install -g npm
    </li>
    <li>
      – если заново перустановить и уже стояло:
      2) npm uninstall -g @angular/cli
    </li>
    <li>
      3) npm cache clean
    </li>
    <li>
      4) npm install -g @angular/cli
    </li>
    <li>
      5) ng new pluto-test
    </li>
    <li>
      6) nick@nick-nb ~/WebstormProjects/angular/my-app $ cd pluto-test
    </li>
    <li>
      7) nick@nick-nb ~/WebstormProjects/angular/my-app $ ng serve
    </li>
    <li>
      7) ng serve –port [number_port] ---> Если порт занят:
    </li>
    <li>
      - Как посмотреть порт: обычно 4200
    </li>
    <li>
      :sudo netstat -ntulp | grep "4200"
    </li>
   <!-- <li>
      :nick-nb /home/nick/WebstormProjects/angular # sudo netstat -ntulp | grep "4200"
    </li>
    -->
    <li>
      :tcp        0      0 127.0.0.1:4200          0.0.0.0:*               LISTEN      5602/ng serve
    </li>
  </ul>
  <button type="button" class="btn">Basic</button>
  <button type="button" class="btn btn-default">Default</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-link">Link</button>
</div>
<h1>
